.magic-combobox {
	border :1px solid #D6D6D6;
	border-bottom:0;
	background : #fff;
}
.magic-combobox .magic-combobox-input {
	color : #333;
}
.magic-combobox-disable .magic-combobox-input-container {
	background : #f3f3f3;
}
.magic-combobox-disable .magic-combobox-input {
	background : #f3f3f3;
	color : #cacaca;
}