/** @import units: [button, title] **/

.mg-dialog {
    border: 1px solid #A9A9A9;
}
.mg-dialog .mg-title {
    border: none;
}
.mg-dialog .mg-title-dragable {
    cursor: move;
}
.mg-dialog .mg-footer {
    background-color: #F4F4F4;
    border: 1px solid #A9A9A9;
    border-width: 1px 0 0;
}
.mg-dialog .mg-footer .mg-footerContainer {
    padding: 7px 10px;
    margin: 0 auto;
}
.mg-dialog .mg-footer .mg-btn {
    margin-left: 10px;
}
.mg-dialog .mg-footer .mg-button-right {
    text-align: right;
}

