<h2>对话框组件</h2>
<style type="text/css">
    .demo-dialog  .mg-dialog {
        width: 400px;
    }
    .demo-dialog .mg-body {
        height: 200px;
        padding: 10px;
    }
</style>

<div class="demo-dialog">
<!-- tpl start -->
    <div class="mg-dialog mg-shadow">
        <div class="mg-title mg-title-dragable">
            <a class="close-btn" href="" onclick="return false;"></a>
            <span>对话框标题</span>
        </div>
        <div class="mg-body">
            <div class="mg-content">对话框内容</div>
        </div>
        <div class="mg-footer">
            <div class="mg-button-right mg-footerContainer">
                <a href="#" class="mg-btn">确定</a><a href="#" class="mg-btn">取消</a>
            </div>
        </div>
    </div>
<!-- tpl end -->
</div>