<div class="tang-pager">
    <div class="tang-pager-main">
        <a class="tang-pager-last mg-btn" href="#">首页</a>
        <a class="tang-pager-normal mg-btn" href="#">1</a>
        <span class="tang-pager-current">2</span>
        <a class="tang-pager-normal mg-btn" href="#">3</a>
        <a class="tang-pager-normal mg-btn" href="#">4</a>
        <a class="tang-pager-normal mg-btn" href="#">5</a>
        <a class="tang-pager-normal mg-btn" href="#">6</a>
        <a class="tang-pager-normal mg-btn" href="#">7</a>
        <a class="tang-pager-next mg-btn" href="#">下一页</a>
        <a class="tang-pager-last mg-btn" href="#">尾页</a>
    </div>
</div>