/** @import units: [button,   xssg   , dfg5, dfg] **/
.mg-pager {
	font-size : 13px;
	font-family : arial;
	margin:10px;
}
.mg-pager .mg-pager-first,
.mg-pager .mg-pager-previous,
.mg-pager .mg-pager-normal,
.mg-pager .mg-pager-current,
.mg-pager .mg-pager-next,
.mg-pager .mg-pager-last {
    margin-right:10px;
    text-align:center;
}