<h2>分页组件</h2>
<p>根据当前页码和总页数生成的页码条 </p>
<!-- tpl start -->
<div class="mg-pager">
    <div class="mg-pager-main">
        <a class="mg-pager-last mg-btn" href="#">首页</a>
        <a class="mg-pager-normal mg-btn" href="#">1</a>
        <span class="mg-pager-current">2</span>
        <a class="mg-pager-normal mg-btn" href="#">3</a>
        <a class="mg-pager-normal mg-btn" href="#">4</a>
        <a class="mg-pager-normal mg-btn" href="#">5</a>
        <a class="mg-pager-normal mg-btn" href="#">6</a>
        <a class="mg-pager-normal mg-btn" href="#">7</a>
        <a class="mg-pager-next mg-btn" href="#">下一页</a>
        <a class="mg-pager-last mg-btn" href="#">尾页</a>
    </div>
</div>
<!-- tpl end -->