/** @import units: [button,   xssg   , dfg5, dfg] **/
.tang-pager {
	font-size : 13px;
	font-family : arial;
	margin:10px;
}
.tang-pager .tang-pager-first,
.tang-pager .tang-pager-previous,
.tang-pager .tang-pager-normal,
.tang-pager .tang-pager-current,
.tang-pager .tang-pager-next,
.tang-pager .tang-pager-last {
    margin-right:10px;
    text-align:center;
}