<h2>提示框组件</h2>
<p>用户对选中节点进行信息提示。</p>
<!-- demo start -->
<!-- tpl start -->
<div style="position:relative;height:130px">
    <div class="mg-tooltip mg-shadow">
        <a href='#' class="close-btn" onclick="return false;"></a>
        <div class='mg-tooltip-content'>tooltip content</div>
        <div class='mg-tooltip-arrow mg-arrow-up'></div>
    </div>
</div>
<div style="position:relative;height:130px">
    <div class="mg-tooltip mg-shadow">
        <a href='#' class="close-btn" onclick="return false;"></a>
        <div class='mg-tooltip-content'>tooltip content</div>
        <div class='mg-tooltip-arrow mg-arrow-down'></div>
    </div>
</div>
<div style="position:relative;height:130px">
    <div class="mg-tooltip mg-shadow">
        <a href='#' class="close-btn" onclick="return false;"></a>
        <div class='mg-tooltip-content'>tooltip content</div>
        <div class='mg-tooltip-arrow mg-arrow-left'></div>
    </div>
</div>
<div style="position:relative;height:130px">
    <div class="mg-tooltip mg-shadow">
        <a href='#' class="close-btn" onclick="return false;"></a>
        <div class='mg-tooltip-content'>tooltip content</div>
        <div class='mg-tooltip-arrow mg-arrow-right'></div>
    </div>
</div>
<!-- tpl end -->
<!-- demo end -->