<div class="mg-combobox" style="width:200px;">
    <div class="magic-combobox">
        <input class="magic-combobox-input" />
        <a onclick="return false" class="mg-icon mg-icon-chevron-down" href="#"></a>
    </div>
    <ul class="magic-combobox-menu mg-dropdown mg-shadow">
        <li class="magic-combobox-menu-item mg-dropdown-item">
            北京
        </li>
        <li class="magic-combobox-menu-item mg-dropdown-item">
            上海
        </li>
        <li class="magic-combobox-menu-item mg-dropdown-item mg-selected">
            天津
        </li>
        <li class="magic-combobox-menu-item mg-dropdown-item">
            重庆
        </li>
        <li class="magic-combobox-menu-item mg-dropdown-item">
            广州
        </li>
    </ul>
</div>