/** @import units: [button] **/
.mg-carousel .mg-carousel-container{
    position: relative;
    float:left;
    overflow: hidden;
}

.mg-carousel .mg-btn{
    float: left;
}

.mg-carousel .mg-carousel-container ul{
    position: absolute;
}

.mg-carousel .mg-carousel-container li{
    /*display: inline-block;*/
    float: left;
}