<h2>图片轮播组件</h2>
<p>多张图片并列展示，可以采用横排或者竖排的方式，通过两边的按钮切换选中的图片，支持自动滚动和循环滚动，多用于新闻图片轮播和图片产品的图片轮播展示。</p>
<!-- demo start -->
<!-- tpl start -->
<div class="mg-carousel mg-carousel-horizontal">
    <a href="#" class="mg-carousel-previous mg-btn"></a>
    <div class="mg-carousel-container mg-shadow">
        <ul>
            <li><img src="../resources/components/default/magic.Carousel/item/0.png"/></li>
            <li class="mg-selected"><img src="../resources/components/default/magic.Carousel/item/1.png"/></li>
            <li><img src="../resources/components/default/magic.Carousel/item/2.png"/></li>
            <li><img src="../resources/components/default/magic.Carousel/item/3.png"/></li>
        </ul>
    </div>
    <a href="#" class="mg-carousel-next mg-btn"></a>
</div>

<div class="mg-carousel mg-carousel-vertical">
    <a href="#" class="mg-carousel-previous mg-btn"></a>
    <div class="mg-carousel-container mg-shadow">
        <ul>
            <li><img src="../resources/components/default/magic.Carousel/item/0.png"/></li>
            <li class="mg-selected"><img src="../resources/components/default/magic.Carousel/item/1.png"/></li>
            <li><img src="../resources/components/default/magic.Carousel/item/2.png"/></li>
            <li><img src="../resources/components/default/magic.Carousel/item/3.png"/></li>
        </ul>
    </div>
    <a href="#" class="mg-carousel-next mg-btn"></a>
</div>
<!-- tpl end -->
<!-- demo end -->