.mg-carousel .mg-carousel-container{
    background-color: #ffffff;
    border: 1px solid #D6D6D6;
}

.mg-carousel .mg-carousel-container li{
    width: 120px;
    height: 120px;
    padding: 10px;
}

/*  carousel horizontal*/
.mg-carousel-horizontal{
    width: 700px;
    height: 142px;
}

.mg-carousel-horizontal .mg-carousel-container,
.mg-carousel-horizontal .mg-carousel-container ul{
    width: 560px;
    height: 140px;
}

.mg-carousel-horizontal .mg-btn{
    margin: 45px 8px 5px;
    width: 18px;
    height: 34px;
    background: url(components/default/magic.Carousel/carousel-btn.png) no-repeat;
}

.mg-carousel-horizontal .mg-carousel-previous:link,
.mg-carousel-horizontal .mg-carousel-previous:visited {background-position: 0px 0px;}
.mg-carousel-horizontal .mg-carousel-next:link,
.mg-carousel-horizontal .mg-carousel-next:visited {background-position: -42px 0px;}
.mg-carousel-horizontal .mg-carousel-previous:hover {
    background-position: 0px -42px;
    background-color: #0084ff;
}
.mg-carousel-horizontal .mg-carousel-next:hover {
    background-position: -42px -42px;
    background-color: #0084ff;
}


.mg-carousel-horizontal .mg-carousel-previous-disabled:link,
.mg-carousel-horizontal .mg-carousel-previous-disabled:visited,
.mg-carousel-horizontal .mg-carousel-previous-disabled:hover,
.mg-carousel-horizontal .mg-carousel-previous-disabled:active {
    background-position: 0px -84px;
}

.mg-carousel-horizontal .mg-carousel-next-disabled:link,
.mg-carousel-horizontal .mg-carousel-next-disabled:visited,
.mg-carousel-horizontal .mg-carousel-next-disabled:hover,
.mg-carousel-horizontal .mg-carousel-next-disabled:active {
    background-position: -42px -84px;
}

/* carousel vertical*/
.mg-carousel-vertical{
    width: 142px;
    height: 668px;
}

.mg-carousel-vertical .mg-carousel-container{
    width: 140px;
    height: 560px;
}

.mg-carousel-vertical .mg-btn{
    margin: 8px 5px 8px 47px;
    padding: 4px 5px;
    width: 34px;
    height: 34px;
    background: url(components/default/magic.Carousel/carousel-vertical-btn.png) no-repeat;
}

.mg-carousel-vertical .mg-carousel-previous:link,
.mg-carousel-vertical .mg-carousel-previous:visited {background-position: -8px 0px;}
.mg-carousel-vertical .mg-carousel-next:link,
.mg-carousel-vertical .mg-carousel-next:visited {background-position: -8px -42px;}
.mg-carousel-vertical .mg-carousel-previous:hover {
    background-position: -70px 0px;
    background-color: #0084ff;
}
.mg-carousel-vertical .mg-carousel-next:hover {
    background-position: -70px -42px;
    background-color: #0084ff;
}


.mg-carousel-vertical .mg-carousel-previous-disabled:link,
.mg-carousel-vertical .mg-carousel-previous-disabled:visited,
.mg-carousel-vertical .mg-carousel-previous-disabled:hover,
.mg-carousel-vertical .mg-carousel-previous-disabled:active {
    background-position: -132px 0px;
}

.mg-carousel-vertical .mg-carousel-next-disabled:link,
.mg-carousel-vertical .mg-carousel-next-disabled:visited,
.mg-carousel-vertical .mg-carousel-next-disabled:hover,
.mg-carousel-vertical .mg-carousel-next-disabled:active {
    background-position: -132px -42px;
}

