.mg-btn {
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.mg-btn:hover, .mg-btn:active, .mg-btn.active{
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
}
.mg-btn:active, .mg-btn.active {
    background-color: #cccccc \9;
}