.mg-dropdown {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
}
.mg-dropdown-item {
    color: #333333;
}