.mg-icon {
    background: url(../resources/units/default/img/icon.gif) no-repeat;
}
.mg-icon-glass {
    background-position: 0 0;
}
.mg-icon-music {
    background-position: -24px 0;
}
.mg-icon-search {
    background-position: -48px 0;
}
.mg-icon-envelope {
    background-position: -72px 0;
}
.mg-icon-heart {
    background-position: -96px 0;
}
.mg-icon-star {
    background-position: -120px 0;
}
.mg-icon-chevron-up {
    background-position: -288px -120px;
}
.mg-icon-chevron-down {
    background-position: -313px -119px;
}
.mg-icon-chevron-left {
    background-position: -432px -72px;
}
.mg-icon-chevron-right {
    background-position: -456px -72px;
}
.mg-icon-backward {
    background-position: -240px -72px;
}
.mg-icon-forward {
    background-position: -336px -72px;
}
.mg-icon-arrow-up {
  background-position: -289px -96px;
}
.mg-icon-arrow-down {
  background-position: -312px -96px;
}
.mg-icon-remove {
  background-position: -312px 0;
}