.mg-textinput {
    color: #555555;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.mg-textinput:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.mg-textinput:-moz-placeholder{
    color:#999;
}
.mg-textinput:-webkit-placeholder{
    color:#999;
}
.mg-textinput:-ms-placeholder{
    color:#999;
}
