<h2>日历组件</h2>
<p>通过展示日历方便使用者快速填写日期 </p>
<!-- tpl start -->
<div class="mg-datepicker mg-shadow">
    <div class="mg-datepicker-title mg-title">
        <div class="mg-datepicker-title-date">
            <span>2013年</span>
            <span>1月</span>
        </div>
        <div class="mg-datepicker-prebtn mg-icon mg-icon-chevron-left"></div>
        <div class="mg-datepicker-nextbtn mg-icon mg-icon-chevron-right"></div>
        <div class="mg-datepicker-yprebtn mg-icon mg-icon-backward"></div>
        <div class="mg-datepicker-ynextbtn mg-icon mg-icon-forward"></div>
    </div>

    <div class="mg-datepicker-table">
        <table cellspacing="0" cellpadding="0" border="0">
            <thead class="mg-datepicker-weekdays">
                <tr>
                    <th>六</th><th>日</th><th>一</th><th>二</th><th>三</th><th>四</th><th>五</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-datepicker-premonth">29</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-datepicker-premonth">30</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-datepicker-premonth">31</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">1</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">2</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">3</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">4</td>
                </tr>
                <tr>
                    <td class="mg-datepicker-date mg-datepicker-weekend">5</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-selected">6</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">7</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">8</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-selected">9</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">10</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">11</td>
                </tr>
                <tr>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-selected">12</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">13</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">14</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-selected">15</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">16</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">17</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">18</td>
                </tr>
                <tr>
                    <td class="mg-datepicker-date mg-datepicker-weekend">19</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">20</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">21</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-hover">22</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">23</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-datepicker-highlight">24</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">25</td>
                </tr>
                <tr>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-datepicker-highlight">26</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">27</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-datepicker-disable">28</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">29</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">30</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend">31</td>
                    <td class="mg-datepicker-date mg-datepicker-weekend mg-datepicker-nextmonth">1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mg-datepicker-footer">
        <div class="mg-datepicker-timer" >
            <div class="mg-datepicker-timer-inputs">
                <span class="mg-datepicker-timer-character">时间&nbsp; </span>
                <input value="13" maxlength="2" class="mg-datepicker-timer-input mg-datepicker-timer-hms mg-datepicker-input-right">
                <input value=":" class="mg-datepicker-timer-input mg-datepicker-timer-colon mg-datepicker-input-both">
                <input value="28" maxlength="2" class="mg-datepicker-timer-input mg-datepicker-timer-hms mg-datepicker-input-both">
                <input value=":" class="mg-datepicker-timer-input mg-datepicker-timer-colon mg-datepicker-input-both">
                <input index="0" value="40" maxlength="2" class="mg-datepicker-timer-input mg-datepicker-timer-hms mg-datepicker-input-both">
            </div>
            <div class="mg-datepicker-timer-btns">
                <a href="javascript:void(0)" class="mg-datepicker-timer-img mg-datepicker-timer-up mg-icon mg-icon-chevron-up"></a>
                <a href="javascript:void(0)" class="mg-datepicker-timer-img mg-datepicker-timer-down mg-icon mg-icon-chevron-down"></a>
            </div>

            <div class="mg-datepicker-timer-choosen" style="left: 10px; display: none;">
                <ul class="mg-datepicker-timer-ul">
                    <li class="mg-datepicker-timer-li">
                        0
                    </li>
                    <li class="mg-datepicker-timer-li">
                        5
                    </li>
                    <li class="mg-datepicker-timer-li">
                        10
                    </li>
                    <li class="mg-datepicker-timer-li">
                        15
                    </li>
                    <li class="mg-datepicker-timer-li">
                        20
                    </li>
                    <li class="mg-datepicker-timer-li">
                        25
                    </li>
                    <li class="mg-datepicker-timer-li">
                        30
                    </li>
                    <li class="mg-datepicker-timer-li">
                        35
                    </li>
                    <li class="mg-datepicker-timer-li">
                        40
                    </li>
                    <li class="mg-datepicker-timer-li">
                        45
                    </li>
                    <li class="mg-datepicker-timer-li mg-selected">
                        50
                    </li>
                    <li class="mg-datepicker-timer-li">
                        55
                    </li>
                </ul>
            </div>
        </div>
            <a class="mg-datepicker-footer-button mg-btn" onclick="return false;" href="#">今天</a>
    </div>
</div>
<!-- tpl end -->